h1, p {
  font-family: Lato;
}
.app {
  background: #333;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 200px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(250, 20, 250, 0.25);
  padding: 10px 10px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
}

.inputs{
  width: 20rem !important;
  background: #fff !important;
  box-shadow: 1px 1px 1px rgba(250, 20, 250, 0.25) !important; 
  font-size: 14px !important;
  margin-bottom: 6px !important;
  border-radius: 3px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.icon{
  cursor: pointer;
}